/Users/jaigollapudi/Downloads/EV-Visualization/data/Electric_Vehicle_Population_Data.csv filter=lfs diff=lfs merge=lfs -text
/Users/jaigollapudi/Downloads/ds4200-final-project/data/Electric_Vehicle_Population_Data.csv filter=lfs diff=lfs merge=lfs -text
